body {
    margin: 0;
    padding: 0;
}

.p1{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}   
.p1-texts{
    width: 65%;
}
.p1-title{
    font-size: 50px;
    font-weight: 600;
}
.p1-desc{
    margin: 40px 0 20px 20px;
    font-size: 1.4em;
}
.carousel-container {
    display: flex;
}

.carousel-section {
    width: 400px;
    /* Set the desired width for each carousel */
    margin-right: 20px;
    /* Adjust margin as needed for spacing between carousels */
}

.fixed-image {
    height: 300px;
    
    /* Set the desired height for the images */
    object-fit:contain;
    /* Maintain aspect ratio and cover the entire container */
    pointer-events: none;
    /* This will prevent right-click */
        
}
.p1-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
@media screen and (max-width: 480px) {
    .p1 {
        padding: 10px;

    }
    .p1-texts{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
.carousel-container {
    flex-direction: column;
}
}